In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [2]:
kcal_file = "Resources/Food_Supply_kcal_Data.csv"
kcal_df = pd.read_csv(kcal_file)

kg_file = "Resources/Food_Supply_Quantity_kg_Data.csv"
kg_df = pd.read_csv(kg_file)
kg_df.head()

protein_file = "Resources/Protein_Supply_Quantity_Data.csv"
protein_df = pd.read_csv(protein_file)
protein_df.head()


fat_file = "Resources/Fat_Supply_Quantity_Data.csv"
fat_df = pd.read_csv(fat_file)
fat_df.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,17.0831,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.0,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,9.2443,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,27.3606,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,0.0,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,22.4638,0.1231,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,0.0,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,14.4436,0.2469,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%

### Transform kcal DataFrame

In [3]:
food_cols = ["Country", "Animal Products", "Cereals - Excluding Beer", "Eggs", "Fruits - Excluding Wine", \
             "Meat", "Milk - Excluding Butter", "Fish, Seafood", "Vegetables"]

transformed_kg = kg_df[food_cols].copy()
transformed_fat = fat_df[food_cols].copy()
transformed_protein = fat_df[food_cols].copy()
transformed_kcal = kcal_df[food_cols].copy()


transformed_kcal

,Country,Animal Products,Cereals - Excluding Beer,Eggs,Fruits - Excluding Wine,Meat,Milk - Excluding Butter,"Fish, Seafood",Vegetables
0,Afghanistan,4.7774,37.1186,0.1501,1.4757,1.2006,2.4512,0.0000,0.7504
1,Albania,16.0930,16.2107,0.8091,3.8982,3.8688,9.9441,0.1471,2.7508
2,Algeria,6.0326,25.0112,0.4181,3.1805,1.2543,3.9869,0.1195,2.0457
3,Angola,4.6927,18.3521,0.0441,2.3133,2.9302,0.5067,0.8372,0.3525
4,Antigua and Barbuda,15.3672,13.7215,0.2057,3.6824,7.0356,4.6904,1.7280,1.2960
...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),7.2303,21.3126,0.2892,2.3804,3.1368,2.6474,0.4449,0.6674
166,Vietnam,10.9806,26.9833,0.2894,1.8046,7.8311,0.5618,1.0385,1.9578
167,Yemen,3.4667,32.0727,0.1455,1.1879,2.0121,0.6545,0.1697,0.3636
168,Zambia,3.3043,31.5528,0.1988,0.2236,1.5155,0.5217,0.5714,0.4472
169,Zimbabwe,3.9356,29.8044,0.1381,0.4373,1.7491,1.0817,0.1611,0.2532

In [4]:
# Rename the column headers
transformed_kg = transformed_kg.rename(columns={"Country":"country", "Animal Products": "animal_products",
                                                       "Cereals - Excluding Beer": "cereals", "Eggs": "eggs",
                                                       "Fruits - Excluding Wine": "fruits", "Meat": "meat",
                                                      "Milk - Excluding Butter": "milk", "Fish, Seafood": "fish_seafood",
                                                           "Vegetables":"vegetables"})

transformed_kcal = transformed_kcal.rename(columns={"Country":"country", "Animal Products": "animal_products",
                                                       "Cereals - Excluding Beer": "cereals", "Eggs": "eggs",
                                                       "Fruits - Excluding Wine": "fruits", "Meat": "meat",
                                                      "Milk - Excluding Butter": "milk", "Fish, Seafood": "fish_seafood",
                                                           "Vegetables":"vegetables"})

transformed_fat = transformed_fat.rename(columns={"Country":"country", "Animal Products": "animal_products",
                                                       "Cereals - Excluding Beer": "cereals", "Eggs": "eggs",
                                                       "Fruits - Excluding Wine": "fruits", "Meat": "meat",
                                                      "Milk - Excluding Butter": "milk", "Fish, Seafood": "fish_seafood",
                                                           "Vegetables":"vegetables"})

transformed_protein = transformed_protein.rename(columns={"Country":"country", "Animal Products": "animal_products",
                                                       "Cereals - Excluding Beer": "cereals", "Eggs": "eggs",
                                                       "Fruits - Excluding Wine": "fruits", "Meat": "meat",
                                                      "Milk - Excluding Butter": "milk", "Fish, Seafood": "fish_seafood",
                                                           "Vegetables":"vegetables"})
transformed_kg

,country,animal_products,cereals,eggs,fruits,meat,milk,fish_seafood,vegetables
0,Afghanistan,9.4341,24.8097,0.2099,5.3495,1.2020,7.5828,0.0350,6.7642
1,Albania,18.7684,5.7817,0.5815,6.7861,1.8845,15.7213,0.2126,11.7753
2,Algeria,9.6334,13.6816,0.5277,6.3801,1.1305,7.6189,0.2416,11.6484
3,Angola,4.9278,9.1085,0.0587,6.0005,2.0571,0.8311,1.7707,2.3041
4,Antigua and Barbuda,16.6613,5.9960,0.2274,10.7451,5.6888,6.3663,4.1489,5.4495
...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),14.7565,12.9253,0.3389,7.6460,3.8328,9.3920,0.9456,4.1474
166,Vietnam,8.5765,16.8740,0.3077,5.9029,4.4382,0.6069,2.6392,11.9508
167,Yemen,5.7874,27.2077,0.2579,5.1344,2.7871,1.8911,0.5240,3.2135
168,Zambia,6.0197,21.1938,0.3399,1.0183,1.8427,1.7570,1.6924,3.4649
169,Zimbabwe,8.1489,22.6240,0.2678,2.2000,2.6142,4.4310,0.5518,2.3213

In [5]:
#Set index of table to Country
transformed_fat.set_index('country', inplace=True)
transformed_protein.set_index('country', inplace=True)
transformed_kg.set_index('country', inplace=True)
transformed_kcal.set_index('country', inplace=True)

### Create Connection to Database

In [6]:
connection_string = "postgres:lakers7@localhost:5432/Project2"
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
# Confirm tables
engine.table_names()

/Users/carmelamonis/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

['food_quantity', 'food_kcal', 'protein_quant', 'fat_quant']

In [8]:
transformed_kg.head()

,animal_products,cereals,eggs,fruits,meat,milk,fish_seafood,vegetables
country,,,,,,,,
Afghanistan,9.4341,24.8097,0.2099,5.3495,1.2020,7.5828,0.0350,6.7642
Albania,18.7684,5.7817,0.5815,6.7861,1.8845,15.7213,0.2126,11.7753
Algeria,9.6334,13.6816,0.5277,6.3801,1.1305,7.6189,0.2416,11.6484
Angola,4.9278,9.1085,0.0587,6.0005,2.0571,0.8311,1.7707,2.3041
Antigua and Barbuda,16.6613,5.9960,0.2274,10.7451,5.6888,6.3663,4.1489,5.4495

### Load Dataframe into SQL

In [9]:
transformed_kg.to_sql(name='food_quantity', con=engine, if_exists='append', index=True)

In [10]:
transformed_fat.to_sql(name='fat_quant', con=engine, if_exists='append', index=True)

In [11]:
transformed_protein.to_sql(name='protein_quant', con=engine, if_exists='append', index=True)

In [12]:
transformed_kcal.to_sql(name='food_kcal', con=engine, if_exists='append', index=True)